{% extends 'admin-base.html' %}
{% block content %}
<div class="card">
                        <div class="card-body" style="background-color: #038cfc;">
                            <span style="color: white;">Academic Management System</span>
                        </div>
                    </div>
                    <section class="container mt-2 mb-2">
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="widget-user-header bg-light-blue">
                                        <div class="row valign-center">
                                            <div class="col-md-12">
                                                <div class="widget-user-image p-4">
                                                    <img class="img-circle" src="https://st.depositphotos.com/2101611/4338/v/600/depositphotos_43381243-stock-illustration-male-avatar-profile-picture.jpg" style="height:65px; border-radius: 50%;" alt="User Avatar">
                                                    <span class="widget-user-username">Head of Department</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr size="5" noshade color="blue">
                    <div class="container-fluid">
                        <h3 class="heading" align="center">ALL DETAILS</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Post Notification</h5>
                                        <a href="post-notification" class="card-link">Post</a>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="col">-->
<!--                                <div class="card" style="width: 18rem;">-->
<!--                                    <div class="card-body">-->
<!--                                        <h5 class="card-title">Sem Registration</h5>-->
<!--                                        <a href="E1SEMRegistrations.html" class="card-link">E1</a>-->
<!--                                        <a href="E2SEMRegistrations.html" class="card-link">E2</a>-->
<!--                                        <a href="E3SEMRegistrations.html" class="card-link">E3</a>-->
<!--                                        <a href="E4SEMRegistrations.html" class="card-link">E4</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <div class="card" style="width: 18rem;">-->
<!--                                    <div class="card-body">-->
<!--                                        <h5 class="card-title">Result</h5>-->
<!--                                        <span>-->
<!--                                            <a href="asstTestResults.html" class="card-link">AT</a>-->
<!--                                            <a href="monthlyTestResults.html" class="card-link">MT</a>-->
<!--                                            <a href="enggConsolidate.html" class="card-link">Engg</a>-->
<!--                                            <a href="pucConsolidate.html" class="card-link">PUC</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Greivances</h5>
                                        <a href="grievences" class="card-link">Greivaces Status</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Faculty Feedback</h5>
                                        <a href="feedbacks" class="card-link">View Details</a>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="col">-->
<!--                                <div class="card" style="width: 18rem;">-->
<!--                                    <div class="card-body">-->
<!--                                        <h5 class="card-title">Interships</h5>-->
<!--                                        <a href="LongTermInternships.html" class="card-link">Long/Short Term</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Academic Calender</h5>
                                        <a href="upload-academic-calender" class="card-link">Update</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Time Tables</h5>
                                        <a href="update-time-table" class="card-link">Update</a>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="col">-->
<!--                                <div class="card" style="width: 18rem;">-->
<!--                                    <div class="card-body">-->
<!--                                        <h5 class="card-title">Mini/Major Projects </h5>-->
<!--                                        <a href="E3Miniproject.html" class="card-link">E3</a>-->
<!--                                        <a href="E4Majorproject.html" class="card-link">E4</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}